body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
}

.top-left::first-letter {
    color: white;
}

.top-left span {
    color: blue;
}
